# Dependencies
node_modules/

# Compiled files
dist/

# Local environment variables
.env

# IDE / Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?
